

#form { clear: both; }
p { margin: 10px; }
.niveis {  overflow: auto; }


#recomecar { margin-top: -43px; margin-left: 450px; }

#dica { font-size: 14px; padding-bottom: 30px; }

#chances {  }

#nivelinfo { font-size: 22px; width: 400px; float: left; }

#dicainput { font-size: 14px; }

#niveis { padding: 40px 0 0; }

.content { overflow: auto; padding-top: 40px;}

#wrapper-image, #forca-form { float: left; }
#wrapper-image{ margin-right: 10px; width: 300px; }
#palavra { font-size: 300%; height: 90px; overflow: auto; }

#forca-form { width: 550px; }
